{% extends 'templates/main.twig' %}

{% block main %}
    <h1 class="page-header">{% if model.isNew()%}Add new locale{% else %}Edit locale{% endif %}</h1>
    <form method="POST" action="/admin/locales/edit">
        <input class="form-control" type="hidden" name="id" value="{{ model.id }}">
        <div class="form-group">
            <label>Name of locale</label>
            <input class="form-control" name="title" value="{{ model.title }}">
        </div>
        <div class="form-group">
            <label>Locale code</label>
            <input class="form-control" name="code" rows="3" value="{{ model.code }}">
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label for="active">Is Active</label> <input id="active" type="checkbox" name="active" {% if model.active %}checked{% endif %}>
            </div>
            <div class="col-sm-2">
                <label for="default">Is Default</label> <input id="default" type="checkbox" name="default" {% if model.default %}checked{% endif %}>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-default">{% if model.isNew()%}Create{% else %}Edit{% endif %}</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
    </form>
{% endblock %}